<!DOCTYPE html>
<html>
<head>
    <title>Add Restaurant</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Add Restaurant</h1>
        <hr>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" action="/reg_new_res">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Restaurant Name:</label>
                        <input type="text" class="form-control" name="name" required>
                        <label>About Restaurant:</label>
                        <input type="text" class="form-control" name="desc" required>
                    </div>
                    <button class="btn btn-primary">Add Restaurant</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
